@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

:root {
    --bg-page1: #f9fafb;
}

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background: var(--bg-page1);
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.h31 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0.5px;
    margin-inline-end: 0.5px;
    font-weight: bold;
}

::selection {background: #ec0101; color: white;}

a:link {color:black; text-decoration: none;}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #696969;
    cursor: pointer;
}

.lighttext {
    font-weight: normal;
}

.box-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /*flex-wrap: nowrap;*/
}

.edulogo {
    width: 70px; height: 70px;
    border-radius: 50%;
    background-color: white;
    margin: 20px;
    margin-left: 0;
}

.box {
    height: 200px;
    color: white;
    background-color: white;
    position: relative;
    border: 7px solid white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    overflow: hidden;
    margin: 1em;
    transition: all 0.2s linear;
}

.box img {
    height: 100%;
    position: absolute;
    object-fit: contain;
    /*object-position: 50%;*/
}

.box .info {
    color: #fff;
    position: absolute; left: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.box:hover {
  transform: scale(1.2);
}

.box:hover .info {
    opacity: 1;
}

.box .info h3 {
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 0;
    padding-bottom: 0.4em;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-transform: uppercase;
}
.box .info p {
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: normal;
    /*word-break: break-all;*/
}


:root {
    --width: 100vw;
    --height: 700px;
    /*--height: 50vh;*/
    --altitude: calc(var(--height)*0.5);
    --color: black;

    --xDuration: 12000ms;
    --yDuration: 1200ms;
}

#container {
    width: var(--width);
    height: var(--height);
    border: dashed .3vmin black;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ball, .ball1, .ball2, .ball3 {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0;

    font-size: 15px;
    /*overflow:hidden;*/
    text-overflow: ellipsis;

    white-space: normal;
    text-align: center;
    color: white;
    line-height: 70px;
}
/*.ball1 {
    transform: translateX(100px) translateY(-100px);
}*/

/*.ball2 {
    transform: translateX(200px);
}
.ball3 {
    transform: translateX(300px) translateY(-100px);
}*/

.ball div, .ball1 div, .ball2 div, .ball3 div {
    width: 100%;
    height: 100%;
}
.translateY {
    animation: bounceY var(--yDuration) infinite ease-out alternate;
}

.translateY2 {
    animation: bounceY2 var(--yDuration) infinite ease-out alternate;
}

.translateX {
    animation: bounceX var(--xDuration) infinite linear;
}
.translateX2 {
    animation: bounceX2 var(--xDuration) infinite linear;
}

/*.rotateZ {
    !*   border: dotted thick white; *!
    animation: rotateZ calc(var(--yDuration)*2) ease-out infinite;
}*/

.material {
    border-radius: 50%;
}

/* Keyframes! */
@keyframes bounceY {
    0% {transform: translateY(0)}
    100% {
        transform: translateY(calc(-1*var(--altitude) + 100%));
    }
}

@keyframes bounceY2 {
    0% {transform: translateY(calc(-1*var(--altitude) + 100%));}
    100% {
        transform: translateY(0)
    }
}

@keyframes bounceX {
    0% {
        transform: translateX(0) scaleX(1);
    }
    49.9999999% {
        transform: translateX(calc(var(--width) - 100%)) scaleX(1);
    }
    50% {
        transform: translateX(calc(var(--width) - 100%)) scaleX(-1);
    }
    100% {transform: translateX(0) scaleX(-1);}
}

@keyframes bounceX2 {
    0% {
        transform: translateX(100%) scaleX(1);
    }
    49.9999999% {
        transform: translateX(calc(var(--width))) scaleX(1);
    }
    50% {
        transform: translateX(calc(var(--width))) scaleX(-1);
    }
    100% {transform: translateX(100%) scaleX(-1);}
}

@keyframes rotateZ {
    0% {transform: rotate(0);}
    100% {transform: rotate(720deg);}
}


.subtext {
    font-size: 0.8rem;
    font-weight: 250;
}


/*#bounce {
    position: absolute;
    background: black;

    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 25px;
    text-align: left;
    color: white;
    line-height: 30px;
    box-shadow: 0 20px 16px rgb(221, 221, 221);

    animation-name: watari;
    animation-duration: 3s;
    animation-iteration-count: 2;

    !*animation-name: bounce;*!
    !*animation-duration: 3s;*!
    !*animation-iteration-count: 2;*!
}

@keyframes watari {
    0% {left: 50px; top: 50px;}
    50% {left: 300px; top: 50px;}
    100% {left: 50px; top: 50px;}
}

@keyframes bounce {
    0%, 100% {
        bottom: 50px;
        animation-timing-function: ease-out;
    }
    50% {
        bottom: 200px;
        animation-timing-function: ease-in;
    }
}*/

.btn {
    margin: 0;
    padding: 0.5rem 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 15px;

    display: inline-block;
    width: auto;
}

.btn-round {
    background-color: #FFB0B0;
}

.wrapper {
    display: grid;
    padding: 3%;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-style: solid;
    border-width: 0px;
    /*font-size:14px;*/
    overflow: hidden;
    padding: 0 0 5px 0;
    word-break: normal;
}

.tg th {
    border-style: solid;
    border-width: 0px;
    /*font-size:14px;*/
    font-weight: normal;
    overflow: hidden;
    padding: 5px 0 0 0;
    word-break: normal;
    width: 30%;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
    width: 10%;
}

.ex-layout {
    /*width: 500px;*/
    display: block;
}

.ex-layout .main {
    /*background-color: white;*/
    display: block;
}

.ex-layout .main .lnb {
    float: left;
    width: 15%;
    height: 600px;
}

.ex-layout .main .content1 {
    float: left;
    width: 80%;
    height: 300px;
}

.ex-layout .main .content {
    float: left;
    width: 80%;
    height: 600px;
}

.ex-layout .main .rnb1 {
    float: left;
    width: 15%;
    height: 600px;
}


.ex-layout .main .content2 {
    float: left;
    width: 70%;
    height: 600px;
}

.ex-layout .main .rnb {
    float: left;
    width: 5%;
    height: 600px;
}

/*h3:hover {*/
/*    color: #696969;*/
/*    cursor: pointer;*/
/*}*/

.position-absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;

    text-align: left;
    line-height: 29px;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #f9fafb;
}

.ellipse {
    position: relative;
    width: 24px;
    height: 24px;
    left: 1508px;
    top: 349px;
}
.ellipse1 {
    background-color: #FF7171;
}
.ellipse2 {
    background-color: #FFB0B0;
}
.ellipse3 {
    background-color: #FFD0D0;
}
.ellipse4 {
    background-color: #FFE7E7;
}
.shadow {
    box-shadow: 0 0 16px rgb(221,221,221);
    -webkit-box-shadow: 0 0 16px rgb(221,221,221);
    -moz-box-shadow: 0 0 16px rgb(221,221,221);
}

